<style type="text/css">

footer{
	background-color:#BEF6A9;
	height:90px;
	text-align:center;
	padding-top:20px;
	width: 100%;
	position: relative;
	bottom: 0px;
}

</style>

<footer>
	<p>Posted by: Hege Refsnes</p>
	<p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
</footer>
